@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: rgb(226 232 240);
  --hColor: rgb(243 244 246);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: rgb(100 116 139);
    --hColor: rgb(107 114 128);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bgColor {
  background-color: var(--secondary);
}

.test {
  color: red;
}